.main_sobre_nos{
    height: 85vh;
    display: flex;
    margin: auto;
    align-items: center;
    width: 85vw;
}

.img_sobre{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}


.second_sobre h2{
    font-size: 6rem;
}

.second_sobre p{
    font-size: 1.5rem;
    text-align: justify;
    margin-block: 1.5rem;
}

.second_sobre button{
    margin-top: 1rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 11px;
    padding: 15px;
    width: 300px;
    background-color: var(--header_color);
    cursor: pointer;
}

.link_botao{
    text-decoration: none;
    color: #fff;
}