.main_section_mapa{
    height: 60vh;
    background: url("../assets/img_mapa.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.container_texto_mapa h2{ 
    font-size: 6rem;
}

.container_texto_mapa p {

    font-size: 1.5rem;
}

.container_texto_mapa button { 
    margin-top: 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 11px;
    padding: 15px;
    width: 300px;
    color: #fff;
    background-color: var(--header_color);
    cursor: pointer;
}