
/*Cabeçalho*/

.main_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--header_color);
    color: var(--branco);

    height: 60px;
}

.img_logo_header{
    width: 80px;
}

a:link, a:visited{
    text-decoration: none;
    color: var(--branco);
    padding: 0 10px;
}